//Our Categories Section
.categories-section {
    padding: 70px 20px;

    .section-title {
        margin-bottom: 70px;
    }

    ul {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;

        li {
            a {
                display: block;
                width: 100%;
                text-align: center;
                background-color: $lightgray;
                padding: 20px;
                border-radius: 4px;
                flex: 1;
                margin: 5px;
                transition: all ease 0.3s;

                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    display: block;
                    margin: auto;
                    margin-bottom: 15px;
                }

                h3 {
                    font-size: 1em;
                }

                &:hover {
                    background-color: $brand;
                    transition: all ease 0.3s;
                }
            }


        }
    }
}
// Our Reviews Section
.our-reviews {
    background-color: $brand;
    padding: 70px 20px;
    margin-bottom: 0;
    h2 {
        font-size: 2.5em;
        margin-bottom: 0;
    }
    a {
        background-color: $facebook;
        color: #fff;
        transition: all ease 0.3s;
        &:hover {
            background-color: darken($facebook, 5);
            transition: all ease 0.3s;
        }
    }
}
@media screen and (max-width:768px) {
    .our-reviews {
        background-color: $brand;
        padding: 20px 10px;
        h2 {
            text-align: center;
            font-size: 2em;
            margin-bottom: 25px;
        }
        a {
            font-size: 0.8em;
            text-align: center;
        }
    }
    //Our Categories Section
    .categories-section {
        .section-title {
            margin-bottom: 70px;
        }
        ul {
            flex-direction: column;
        }
    }
}