//Products Related SCSS
.all-products-filters-form{
  select{
    border: none;
    background-color: $lightgray;
    border: 2px solid $brand;
    border-radius: 50px;
    padding: 0 15px;
  }
}
//Single Product Form
#product-cart-form{
  select{
    width: 100%;
    padding:20px;
    border-radius: 50px;
    background-color: $lightgray;
    border:0;
  }
}
// Reviews System
.reviews-overall-text{
  padding: 20px;
  border-radius: 10px;
  background-color: $lightgray;
  .star-and-number{
    text-align: center;
    i{
      font-size: 5em;
      color: $brand;
      display: block;
      margin-bottom: 10px;
    }
    p{
      color:$darkgray;
      font-size: 1.1em;
    }
  }
  .detailed-reviws-list{
    list-style: none;
    li i{
      color: $brand;
      font-size: 0.9em;
    }
  }
}
.reviews-list{
  max-height: 400px;
  overflow-y: scroll;
  li{
    .review-image{
      flex:1;
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .review-text{
      flex:5;
      ul{
        list-style: none;
        li{
          display: inline;
          color: $medgray;
          &.active{
            color:$brand;
          }
        }
      }
    }
  }
}
.review-form{
  .rate {
      float: right;
      height: 50px;
  }
  .rate:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rate:not(:checked) > label {
      float:left;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:1.6em;
      color:#ccc;
  }
  .rate:not(:checked) > label:before {
      content: '\f005';
      font-family: "Font Awesome 5 Free"; 
      font-weight: 900;
      margin: 5px;
  }
  .rate > input:checked ~ label {
      color: $brand;    
  }
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    color: $brand;    
  }
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    color: $brand;    
  }

  label{
    font-weight: bold;
    display: block;
  }
  textarea,input{
    display: block;
    width: 100%;
    border:none;
    border-radius: 10px;
    background-color: $lightgray;
    padding: 10px;
  }
}