//Brand Colors
$brand: #e3ca8d;
$brand-hover: #d1b97b;
$accent: #ccc;
//Black & White
$lightgray :#f1f1f1;
$medgray :#cccccc;
$darkgray :#707070;
$black: #393733;
$darkoverlap: rgba(0,0,0,0.4);
//Actions Colors
$danger: #c54343;
$success: green;
//Social Media
$google : #DB4437;
$facebook : #4267B2;
$twitter : #1DA1F2;
$whatsapp : #25D366;
$instagram: #E1306C;