@charset "UTF-8";
/*---------------------
  Reset CSS
-----------------------*/
@font-face {
  font-family: "ArteSans";
  src: url("../fonts/a-jannat-lt.ttf");
}
html,
body {
  font-family: "ArteSans", "Tajawal", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  direction: rtl;
  font-size: 14px;
  margin-top: 65px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 600;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  color: #585858;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  body {
    margin-top: 115px;
  }
}
/*---------------------
  Helper CSS
-----------------------*/
.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 36px;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.spad {
  padding-top: 105px;
  padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
  color: #fff;
}

.img-circle {
  border-radius: 50% !important;
}

.badge-brand {
  background-color: #FEC906;
  padding: 5px 10px;
  border-radius: 30px;
  color: #393733;
}

/*---------------------
  Commom elements
-----------------------*/
/* forms */
.arte-form {
  text-align: right;
}
.arte-form form label {
  font-weight: bold;
  display: block;
}
.arte-form form input, .arte-form form select, .arte-form form textarea {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: 0;
  background-color: #f1f1f1;
  margin-bottom: 25px;
}
.arte-form form textarea {
  border-radius: 20px;
}

/* buttons */
.site-btn {
  display: inline-block;
  border: none;
  font-size: 14px;
  font-weight: 600;
  min-width: 167px;
  padding: 14px 47px 14px;
  border-radius: 50px;
  text-transform: uppercase;
  background: #FEC906;
  color: #393733;
  line-height: normal;
  cursor: pointer;
  text-align: center;
  transition: all ease 0.3s;
}
.site-btn.site-btn-sm {
  padding: 5px 20px 5px;
  min-width: 100px;
}

.site-btn:hover {
  transition: all ease 0.3s;
  color: #fff;
}

.site-btn.sb-white {
  background: #fff;
  color: #111111;
}

.site-btn.sb-line {
  background: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

.site-btn.sb-dark {
  background: #393733;
  color: #ffffff;
}

.site-btn.sb-dark.sb-line {
  background-color: transparent;
  color: #111111;
  box-shadow: inset 0 0 0 1px #111111;
}

.elements-section {
  padding-top: 100px;
}

.el-title {
  margin-bottom: 75px;
}

.element {
  margin-bottom: 100px;
}

.element:last-child {
  margin-bottom: 0;
}

/* Accordion */
.accordion-area {
  margin-top: 50px;
  border-top: 2px solid #e1e1e1;
}

.accordion-area .panel {
  border-bottom: 2px solid #e1e1e1;
}

.accordion-area .panel-link {
  background-image: url("../img/arrow-down.png");
  background-repeat: no-repeat;
  background-position: right 10px top 30px;
}

.faq-accordion.accordion-area .panel-link,
.faq-accordion.accordion-area .panel-link.active.collapsed {
  padding: 17px 100px 17px 20px;
}

.faq-accordion.accordion-area .panel-link:after {
  right: 44px;
}

.accordion-area .panel-header .panel-link.collapsed {
  background-image: url("../img/arrow-down.png");
}

.accordion-area .panel-link.active {
  background-image: url("../img/arrow-up.png");
}

.accordion-area .panel-link.active {
  background-color: transparent;
}

.accordion-area .panel-link,
.accordion-area .panel-link.active.collapsed {
  text-align: left;
  position: relative;
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  border: none;
  min-height: 69px;
  background-color: transparent;
  border-radius: 0;
}

.accordion-area .panel-body {
  padding-top: 10px;
}

.accordion-area .panel-body p {
  color: #8f8f8f;
  margin-bottom: 25px;
  line-height: 1.8;
}

.accordion-area .panel-body p span {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FEC906;
}

.accordion-area .panel-body img {
  margin-bottom: 25px;
}

.accordion-area .panel-body h4 {
  font-size: 18px;
  margin-bottom: 20px;
}

.notification {
  position: fixed;
  width: 25%;
  bottom: 5%;
  right: 5%;
  z-index: 10;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  display: flex;
  background-color: #f1f1f1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.notification .notification-icon {
  background: #c54343;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 1.5em;
}
.notification .notification-content {
  text-align: right;
  flex: 4;
  padding: 15px;
  height: 120px;
  overflow-y: scroll;
}
.notification .notification-content b {
  font-size: 1.1em;
  color: #393733;
}
.notification .notification-content p {
  margin-bottom: 0;
  color: #707070;
}
.notification.error-notification .notification-icon {
  background: #c54343;
}
.notification.success-notification .notification-icon {
  background-color: green;
}

/*------------------
  Header section
---------------------*/
.header-section {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.header-top {
  padding: 18px 0 14px;
  background-color: #fff;
}

.site-logo {
  display: inline-block;
}

.header-search-form {
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.header-search-form input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  padding: 0 19px;
  background: #f0f0f0;
}

.header-search-form button {
  position: absolute;
  height: 100%;
  left: 18px;
  top: 0;
  font-size: 26px;
  color: #393733;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.user-panel .up-item {
  display: inline-block;
  font-size: 14px;
}

.user-panel {
  margin-top: 7px;
}

.user-panel .up-item i {
  font-size: 22px;
}

.user-panel .up-item a {
  font-size: 14px;
  color: #000;
}

.user-panel .up-item:first-child {
  margin-left: 29px;
}

.shopping-card {
  display: inline-block;
  position: relative;
}

.shopping-card span {
  position: absolute;
  top: -4px;
  left: 100%;
  height: 16px;
  min-width: 16px;
  color: #fff;
  font-size: 13px;
  background: #FEC906;
  text-align: center;
  border-radius: 30px;
  padding: 0 2px;
  margin-left: -7px;
}

.main-navbar {
  background: #393733;
}

.slicknav_menu {
  display: none;
}

.main-menu {
  list-style: none;
  text-align: right;
}

.main-menu li {
  display: inline-block;
  position: relative;
}

.main-menu li a {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  margin-left: 50px;
  line-height: 1;
  padding: 17px 0;
  position: relative;
}

.main-menu li a .new {
  position: absolute;
  top: -8px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: #FEC906;
  line-height: 1;
  text-transform: uppercase;
  left: calc(50% - 21px);
  padding: 5px 9px 1px;
  border-radius: 15px;
  width: 42px;
}

.main-menu li:hover .sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.main-menu li:hover > a {
  color: #FEC906;
}

.main-menu .sub-menu {
  position: absolute;
  list-style: none;
  width: 220px;
  left: 0;
  top: 100%;
  padding: 20px 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 50px;
  background: #fff;
  z-index: 99;
  transition: all 0.4s;
  box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
  display: block;
}

.main-menu .sub-menu li a {
  display: block;
  color: #000;
  margin-right: 0;
  padding: 8px 20px;
}

.main-menu .sub-menu li a:hover {
  color: #FEC906;
}

.nav-switch {
  display: none;
}

/* ----------------
  Features
---------------------*/
.hero-section {
  padding-bottom: 54px;
}

.hero-slider .hs-item {
  position: relative;
  height: 720px;
  direction: ltr;
}

.hero-slider .hs-item span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
  position: relative;
  top: 50px;
  opacity: 0;
}

.hero-slider .hs-item h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
  top: 50px;
  opacity: 0;
}

.hero-slider .hs-item p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 35px;
  position: relative;
  top: 100px;
  opacity: 0;
}

.hero-slider .hs-item .site-btn {
  position: relative;
  top: 50px;
  opacity: 0;
}

.hero-slider .hs-item .sb-line {
  margin-right: 5px;
}

.hero-slider .hs-item .container {
  position: relative;
  padding-top: 170px;
}

.hero-slider .hs-item .offer-card {
  position: absolute;
  right: 0;
  top: 226px;
  width: 162px;
  height: 162px;
  border-radius: 50%;
  background: #FEC906;
  text-align: center;
  padding-top: 20px;
  transform: rotate(45deg);
  opacity: 0;
}

.hero-slider .hs-item .offer-card:after {
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 1px solid #f96790;
  left: 5px;
  top: 5px;
  border-radius: 50%;
}

.hero-slider .hs-item .offer-card span {
  font-size: 18px;
  text-transform: lowercase;
  position: relative;
  top: 50px;
  opacity: 0;
}

.hero-slider .hs-item .offer-card h2 {
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
}

.hero-slider .hs-item .offer-card p {
  text-transform: uppercase;
  line-height: 1;
  font-size: 14px;
}

.hero-slider .slider-nav-warp {
  max-width: 1145px;
  bottom: 0;
  margin: -78px auto 0;
}

.hero-slider .slider-nav {
  display: inline-block;
  padding: 0 38px;
  position: relative;
}

.hero-slider .owl-dots {
  display: -ms-flex;
  display: flex;
  padding-top: 9px;
}

.hero-slider .owl-dots .owl-dot {
  width: 8px;
  height: 8px;
  background: #fff;
  border-radius: 15px;
  margin-right: 10px;
  opacity: 0.25;
}

.hero-slider .owl-dots .owl-dot.active {
  opacity: 1;
}

.hero-slider .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.hero-slider .owl-nav button.owl-next,
.hero-slider .owl-nav button.owl-prev {
  font-size: 27px;
  position: absolute;
  color: #fff;
  opacity: 0.5;
  bottom: -20px;
}

.hero-slider .owl-nav button.owl-next {
  right: 0;
}

.hero-slider .owl-nav button.owl-prev {
  left: 0;
}

.hero-slider .owl-item.active .hs-item h2,
.hero-slider .owl-item.active .hs-item span,
.hero-slider .owl-item.active .hs-item p,
.hero-slider .owl-item.active .hs-item .site-btn {
  top: 0;
  opacity: 1;
}

.hero-slider .owl-item.active .hs-item span {
  transition: all 0.5s ease 0.2s;
}

.hero-slider .owl-item.active .hs-item h2 {
  transition: all 0.5s ease 0.4s;
}

.hero-slider .owl-item.active .hs-item p {
  transition: all 0.5s ease 0.6s;
}

.hero-slider .owl-item.active .hs-item .site-btn {
  transition: all 0.5s ease 0.8s;
}

.hero-slider .owl-item.active .hs-item .offer-card {
  opacity: 1;
  transform: rotate(0deg);
  transition: all 0.5s ease 1s;
}

.slide-num-holder {
  float: right;
  z-index: 1;
  color: #fff;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  margin-top: -22px;
}

.slide-num-holder span:first-child {
  margin-right: 41px;
}

.slide-num-holder:after {
  position: absolute;
  content: "";
  height: 30px;
  width: 1px;
  background: #fff;
  left: 50%;
  top: 0;
  transform-origin: center;
  transform: rotate(30deg);
}

/* ------------------
  Auth section
---------------------*/
.profile-section {
  direction: rtl;
  padding-top: 50px;
}
.profile-section .account-main-data, .profile-section .account-latest-orders {
  text-align: right;
}
.profile-section .account-main-data h4, .profile-section .account-latest-orders h4 {
  font-size: 1.4em;
}
.profile-section .edit-account-data {
  text-align: right;
}
.profile-section .edit-account-data form {
  /* Firefox */
}
.profile-section .edit-account-data form label {
  font-weight: bold;
  display: block;
}
.profile-section .edit-account-data form input, .profile-section .edit-account-data form select {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: 0;
  background-color: #f1f1f1;
  margin-bottom: 25px;
}
.profile-section .edit-account-data form input::-webkit-outer-spin-button,
.profile-section .edit-account-data form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.profile-section .edit-account-data form input[type=number] {
  -moz-appearance: textfield;
}
.profile-section .user-account-wishlist h4 {
  text-align: right;
  font-size: 1.3em;
}
.profile-section .user-account-report-form {
  text-align: right;
}
.profile-section .user-account-report-form form label {
  font-weight: bold;
  display: block;
}
.profile-section .user-account-report-form form input, .profile-section .user-account-report-form form select, .profile-section .user-account-report-form form textarea {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: 0;
  background-color: #f1f1f1;
  margin-bottom: 25px;
}
.profile-section .user-account-report-form form textarea {
  border-radius: 20px;
}
.profile-section .user-account-report {
  text-align: right;
}
.profile-section .user-account-report ul {
  list-style: none;
}
.profile-section .user-account-report ul li {
  margin-bottom: 25px;
}
.profile-section .user-account-report ul li i {
  margin-left: 15px;
}
.profile-section .user-account-report ul li a {
  color: #393733;
  transition: color ease 0.3s;
}
.profile-section .user-account-report ul li a:hover {
  color: #FEC906;
  transition: color ease 0.3s;
}

.profile-sidebar .user-info {
  text-align: right;
}
.profile-sidebar .user-info img {
  display: block;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 0 25px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.profile-sidebar .user-info h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  max-width: 75%;
}
.profile-sidebar .user-info p {
  color: #cccccc;
}
.profile-sidebar .user-profile-actions-list ul {
  list-style: none;
}
.profile-sidebar .user-profile-actions-list ul li {
  margin-bottom: 30px;
  text-align: right;
  transition: all ease 0.3s;
}
.profile-sidebar .user-profile-actions-list ul li a {
  color: #cccccc;
}
.profile-sidebar .user-profile-actions-list ul li.active, .profile-sidebar .user-profile-actions-list ul li:hover {
  position: relative;
  transition: all ease 0.3s;
}
.profile-sidebar .user-profile-actions-list ul li.active:after, .profile-sidebar .user-profile-actions-list ul li:hover:after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #FEC906;
  border-radius: 5px;
  position: absolute;
  right: 33px;
  top: 25px;
  transition: all ease 0.3s;
}
.profile-sidebar .user-profile-actions-list ul li.active a, .profile-sidebar .user-profile-actions-list ul li:hover a {
  color: #393733;
  transition: all ease 0.3s;
}
.profile-sidebar .user-profile-actions-list ul li.active a i, .profile-sidebar .user-profile-actions-list ul li:hover a i {
  color: #FEC906;
  transition: all ease 0.3s;
}

/* ------------------
  Orders section
---------------------*/
.trace-section {
  padding-top: 50px;
}
.trace-section .trace-order-form {
  text-align: right;
}
.trace-section .trace-order-form h4 {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.3em;
}
.trace-section .trace-order-form form {
  display: flex;
}
.trace-section .trace-order-form form input {
  display: block;
  width: 100%;
  padding: 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 0;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  flex: 10;
}
.trace-section .trace-order-form form input::-webkit-outer-spin-button,
.trace-section .trace-order-form form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.trace-section .trace-order-form form input[type=number] {
  -moz-appearance: textfield;
}
.trace-section .trace-order-form form button {
  flex: 1;
  background-color: #FEC906;
  color: #393733;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  transition: background-color ease 0.3s;
}
.trace-section .trace-order-form form button:hover {
  cursor: pointer;
  background-color: #ddb113;
  transition: background-color ease 0.3s;
}
.trace-section .trace-order-result {
  text-align: right;
}
.trace-section .trace-order-result h4 {
  font-size: 1.3em;
}

.thanks-section {
  padding-top: 50px;
}
.thanks-section h2.page-title {
  font-size: 2.2em;
}

/* ------------------
  Products section
---------------------*/
.all-products-filters-form select {
  border: none;
  background-color: #f1f1f1;
  border: 2px solid #FEC906;
  border-radius: 50px;
  padding: 0 15px;
}

#product-cart-form select {
  width: 100%;
  padding: 20px;
  border-radius: 50px;
  background-color: #f1f1f1;
  border: 0;
}

.reviews-overall-text {
  padding: 20px;
  border-radius: 10px;
  background-color: #f1f1f1;
}
.reviews-overall-text .star-and-number {
  text-align: center;
}
.reviews-overall-text .star-and-number i {
  font-size: 5em;
  color: #FEC906;
  display: block;
  margin-bottom: 10px;
}
.reviews-overall-text .star-and-number p {
  color: #707070;
  font-size: 1.1em;
}
.reviews-overall-text .detailed-reviws-list {
  list-style: none;
}
.reviews-overall-text .detailed-reviws-list li i {
  color: #FEC906;
  font-size: 0.9em;
}

.reviews-list {
  max-height: 400px;
  overflow-y: scroll;
}
.reviews-list li .review-image {
  flex: 1;
}
.reviews-list li .review-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.reviews-list li .review-text {
  flex: 5;
}
.reviews-list li .review-text ul {
  list-style: none;
}
.reviews-list li .review-text ul li {
  display: inline;
  color: #cccccc;
}
.reviews-list li .review-text ul li.active {
  color: #FEC906;
}

.review-form .rate {
  float: right;
  height: 50px;
}
.review-form .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.review-form .rate:not(:checked) > label {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 1.6em;
  color: #ccc;
}
.review-form .rate:not(:checked) > label:before {
  content: "\F005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin: 5px;
}
.review-form .rate > input:checked ~ label {
  color: #FEC906;
}
.review-form .rate:not(:checked) > label:hover,
.review-form .rate:not(:checked) > label:hover ~ label {
  color: #FEC906;
}
.review-form .rate > input:checked + label:hover,
.review-form .rate > input:checked + label:hover ~ label,
.review-form .rate > input:checked ~ label:hover,
.review-form .rate > input:checked ~ label:hover ~ label,
.review-form .rate > label:hover ~ input:checked ~ label {
  color: #FEC906;
}
.review-form label {
  font-weight: bold;
  display: block;
}
.review-form textarea, .review-form input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 10px;
}

.our-reviews {
  background-color: #FEC906;
  padding: 40px 20px;
  margin-bottom: 40px;
}
.our-reviews h2 {
  font-size: 2.5em;
  margin-bottom: 0;
}
.our-reviews a {
  background-color: #4267B2;
  color: #fff;
  transition: all ease 0.3s;
}
.our-reviews a:hover {
  background-color: #3b5c9f;
  transition: all ease 0.3s;
}

@media screen and (max-width: 768px) {
  .our-reviews {
    background-color: #FEC906;
    padding: 20px 10px;
  }
  .our-reviews h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
  }
  .our-reviews a {
    font-size: 0.8em;
    text-align: center;
  }
}
#blog-hero {
  height: 50vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
#blog-hero .dark-overlap {
  height: 50vh;
  width: 100%;
  padding: 10%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}
#blog-hero .dark-overlap h1, #blog-hero .dark-overlap p {
  color: #fff;
}
#blog-hero .dark-overlap h1 {
  margin-bottom: 40px;
}

.index-single-blog-item img {
  height: 300px;
  width: 100%;
  border-radius: 8px;
}
.index-single-blog-item h2 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.single-blog-article .blog-single-main-image {
  height: 400px;
  width: 100%;
}
.single-blog-article .blog-single-title {
  font-size: 2em;
  margin-bottom: 15px;
}
.single-blog-article .blog-single-description {
  font-size: 1.3em;
  color: #707070;
}

/* ------------------
  Features section
---------------------*/
.feature {
  text-align: center;
  background: #f8f8f8;
  height: 100%;
}

.feature:nth-child(2) {
  background: #FEC906;
}

.feature:nth-child(2) h2 {
  color: #fff;
}

.feature .feature-inner {
  padding: 20px 25px;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.feature .feature-icon {
  display: inline-block;
  margin-left: 15px;
}

.feature h2 {
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
}

/* ----------------------
  Latest product section
------------------------*/
.top-letest-product-section {
  padding-top: 70px;
  padding-bottom: 60px;
}

.top-letest-product-section .section-title {
  margin-bottom: 70px;
}

.product-slider, .product-slider-slider {
  direction: ltr;
}

.product-slider .owl-nav, .product-slider-slider .owl-nav {
  position: absolute;
  top: calc(50% - 60px);
  width: 100%;
  left: 0;
}

.product-slider .owl-nav button.owl-next,
.product-slider .owl-nav button.owl-prev,
.product-slider-small .owl-nav button.owl-next,
.product-slider-small .owl-nav button.owl-prev {
  color: #a4a4a4;
  font-size: 42px;
  position: relative;
}

.product-slider .owl-nav button.owl-next, .product-slider-small .owl-nav button.owl-next {
  float: right;
  right: -92px;
}

.product-slider .owl-nav button.owl-prev, .product-slider-small .owl-nav button.owl-prev {
  float: left;
  left: -92px;
}

.product-item .pi-pic {
  position: relative;
  display: block;
}
.product-item .pi-pic img {
  height: 400px;
  width: 100%;
}

.product-item .tag-new,
.product-item .tag-sale,
.product-item .tag-sold {
  position: relative;
  display: inline-block;
  left: 20px;
  top: 35px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  background: #50e550;
  line-height: 1;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 15px;
  width: auto;
  text-align: center;
}

.product-item .tag-sale {
  background: #FEC906;
}

.product-item .tag-sold {
  background: #c54343;
}

.product-item .pi-links {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 18px;
  z-index: 9;
  padding-right: 15px;
  text-align: right;
}

.product-item .pi-links .add-card, .product-item .pi-links .wishlist-btn {
  display: inline-table;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 60px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 9px;
  overflow: hidden;
  color: #000;
  position: relative;
  box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
  text-align: center;
}
.product-item .pi-links .wishlist-btn.liked {
  background: #eca1a1;
}
.product-item .pi-links .wishlist-btn.liked i {
  color: #fff;
}

.product-item .pi-links a i {
  display: inline-block;
  color: #000;
}

.product-item .pi-links a.add-card {
  padding-top: 8px;
}

.product-item .pi-links a.add-card span {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 19px;
  top: 20px;
  opacity: 0;
}

.product-item .pi-links a.add-card:hover {
  width: 148px;
  padding: 8px 18px 0;
  text-align: left;
}

.product-item .pi-links a.add-card:hover span {
  opacity: 1;
  top: 10px;
  transition: all 0.4s ease 0.3s;
}

.product-item .pi-text {
  text-align: right;
  padding-top: 22px;
  height: 87px;
  display: block;
}

.product-item .pi-text h6 {
  padding-left: 40px;
  overflow: hidden;
  font-weight: 700;
  color: #111111;
}

.product-item .pi-text p {
  font-size: 16px;
  color: #111111;
  margin-bottom: 0;
}

/* -----------------------
  Product filter section
-------------------------*/
.product-filter-section {
  padding-bottom: 60px;
}

.product-filter-section .section-title {
  margin-bottom: 70px;
}

.product-filter-menu {
  list-style: none;
  margin: 0 -10px;
  padding-bottom: 15px;
}

.product-filter-menu li {
  margin: 0 10px 10px;
  display: inline-block;
}

.product-filter-menu li a {
  color: #111111;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #ebebeb;
  display: block;
  width: 100%;
  padding: 10px 34px;
  border-radius: 31px;
}

/* ----------------
  Banner section
---------------------*/
.banner {
  padding: 50px 34px 47px;
  position: relative;
  margin-bottom: 70px;
}

.banner .tag-new {
  position: absolute;
  right: 26px;
  top: 27px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background: #50e550;
  line-height: 1;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 80px;
}

.banner span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.banner h2 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
  color: #393733;
}

/* ----------------
  Footer section
---------------------*/
.footer-section {
  background: #393733;
  padding-top: 60px;
  text-align: right;
}

.footer-logo {
  padding-bottom: 60px;
}

.footer-widget {
  margin-bottom: 70px;
  overflow: hidden;
}

.footer-widget h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 45px;
}

.footer-widget p {
  color: #8f8f8f;
}

.footer-widget.about-widget p {
  margin-bottom: 50px;
  letter-spacing: -0.01em;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget ul:last-child {
  margin-right: 0;
}

.footer-widget ul li a {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  font-size: 14px;
  color: #8f8f8f;
  margin-bottom: 6px;
}

.footer-widget ul li a:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 0;
  top: 8px;
  border: 1px solid #FEC906;
  border-radius: 50%;
  transition: all 0.2s;
}

.footer-widget ul li a:hover {
  color: #fff;
}

.footer-widget ul li a:hover:after {
  width: 7px;
  height: 7px;
  top: 6px;
  background: #FEC906;
}

.fw-latest-post-widget .lp-item {
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
}

.fw-latest-post-widget .lp-thumb {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 22px;
}

.fw-latest-post-widget .lp-content {
  overflow: hidden;
  padding-top: 2px;
}

.fw-latest-post-widget .lp-content h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1px;
}

.fw-latest-post-widget .lp-content span {
  display: block;
  font-size: 12px;
  color: #8f8f8f;
  margin-bottom: 4px;
}

.fw-latest-post-widget .lp-content .readmore {
  font-size: 12px;
  color: #FEC906;
}

.contact-widget .con-info span {
  float: left;
  color: #FEC906;
  margin-right: 15px;
  overflow: hidden;
}

.social-links-warp {
  border-top: 2px solid #3b3535;
  padding: 46px 0;
  display: flex;
}

.social-links a {
  margin-right: 60px;
}

.social-links a:last-child {
  margin-right: 0;
}

.social-links a i {
  font-size: 30px;
  color: #d7d7d7;
  float: left;
  margin-right: 19px;
  overflow: hidden;
  transition: all 0.3s;
}

.social-links a span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9f9fa0;
  padding-top: 10px;
  transition: all 0.3s;
}

.social-links a.instagram:hover i {
  color: #2F5D84;
}

.social-links a.google-plus:hover i {
  color: #E04B37;
}

.social-links a.twitter:hover i {
  color: #5abed6;
}

.social-links a.pinterest:hover i {
  color: #CD212D;
}

.social-links a.facebook:hover i {
  color: #39599F;
}

.social-links a.twitter:hover i {
  color: #5abed6;
}

.social-links a.youtube:hover i {
  color: #D12227;
}

.social-links a.tumblr:hover i {
  color: #37475E;
}

.social-links a:hover span {
  color: #fff;
}

/* --------------
  Other Pages
------------------*/
.page-top-info {
  background: #f8f7f7;
  padding: 60px 0 70px;
}

.page-top-info h4 {
  color: #414141;
  font-weight: 700;
  text-transform: uppercase;
}

.site-pagination {
  font-size: 14px;
  font-weight: 600;
  color: #414141;
}

.site-pagination a {
  display: inline-block;
  font-size: 14px;
  color: #414141;
}

/* --------------
  Category page
------------------*/
.filter-widget {
  margin-bottom: 60px;
}
.filter-widget .search-form label {
  font-weight: bold;
  display: block;
}
.filter-widget .search-form input {
  display: block;
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: 0;
  background-color: #f1f1f1;
  margin-bottom: 15px;
}

.filter-widget .fw-title {
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.category-menu {
  list-style: none;
}

.category-menu li a {
  display: block;
  position: relative;
  font-size: 12px;
  color: #414141;
  border-bottom: 1px solid #ebebeb;
  padding: 12px 20px 5px 0px;
}

.category-menu li a span {
  float: right;
}

.category-menu li a:after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  right: 0;
  top: 13px;
  border: 1px solid #FEC906;
  border-radius: 50%;
}

.category-menu li a:hover {
  color: #FEC906;
}

.category-menu li a:hover:after {
  background: #FEC906;
}

.category-menu li a:last-child a {
  margin-bottom: 0;
}

.category-menu li .sub-menu {
  list-style: none;
  overflow: hidden;
  height: 0;
  transform: rotateX(90deg);
  opacity: 0;
  transition: transform 0.4s, opacity 0.4s;
}

.category-menu li .sub-menu li a {
  padding-right: 45px;
}

.category-menu li:hover > a {
  color: #FEC906;
}

.category-menu li.active > .sub-menu {
  display: block;
  height: auto;
  opacity: 1;
  transform: rotateX(0deg);
}

.price-range-wrap .price-range {
  border-radius: 0;
  margin-right: 13px;
  margin-bottom: 28px;
}

.price-range-wrap .price-range.ui-widget-content {
  border: none;
  background: #ebebeb;
  height: 2px;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-range {
  background: #ebebeb;
  border-radius: 0;
}

.price-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
  background: #414141;
}

.price-range-wrap .price-range.ui-widget-content .ui-slider-handle {
  border: none;
  background: #414141;
  height: 14px;
  width: 14px;
  outline: none;
  top: -6px;
  cursor: ew-resize;
  margin-left: 0;
  border-radius: 0;
  border-radius: 20px;
}

.price-range-wrap .price-range .ui-slider-handle.ui-corner-all.ui-state-default span {
  position: absolute;
  font-size: 14px;
  top: 35px;
}

.price-range-wrap .range-slider {
  color: #444444;
  margin-top: 22px;
}

.price-range-wrap {
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.price-range-wrap h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #414141;
  margin-bottom: 45px;
}

.price-range-wrap .range-slider .price-input input {
  color: #444444;
  border: none;
  outline: none;
  max-width: 80px;
  pointer-events: none;
}

.price-range-wrap .range-slider .price-input input:nth-child(1) {
  float: left;
}

.price-range-wrap .range-slider .price-input input:nth-child(2) {
  float: right;
}

.fw-color-choose,
.fw-size-choose {
  border-bottom: 2px solid #ebebeb;
  padding-bottom: 40px;
  margin-bottom: 50px;
}

.fw-color-choose .cs-item {
  display: inline-block;
  position: relative;
  margin-right: 14px;
}

.fw-color-choose .cs-item:last-child {
  margin-right: 0;
}

.fw-color-choose label {
  width: 26px;
  height: 26px;
  border-radius: 50px;
  background: #333;
  position: relative;
  cursor: pointer;
}

.fw-color-choose label.cs-gray {
  background: #d7d7d7;
}

.fw-color-choose label.cs-orange {
  background: #6f91ff;
}

.fw-color-choose label.cs-yollow {
  background: #6f91ff;
}

.fw-color-choose label.cs-green {
  background: #8fc99c;
}

.fw-color-choose label.cs-purple {
  background: #bc83b1;
}

.fw-color-choose label.cs-blue {
  background: #9ee7f4;
}

.fw-color-choose label span {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 45px;
  font-size: 11px;
  color: #414141;
}

.fw-color-choose input[type=radio] {
  visibility: hidden;
  position: absolute;
}

.fw-color-choose input[type=radio]:checked + label {
  box-shadow: 0 0 0 2px #FEC906;
}

.fw-color-choose input[type=radio]:checked + label span {
  color: #b09d81;
}

.fw-size-choose .sc-item {
  display: inline-block;
  position: relative;
  margin-right: 5px;
}

.fw-size-choose label {
  display: inline-block;
  height: 30px;
  min-width: 30px;
  text-align: center;
  font-size: 14px;
  color: #414141;
  font-weight: 500;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px 6px 0;
}

.fw-size-choose input[type=radio] {
  visibility: hidden;
  position: absolute;
}

.fw-size-choose input[type=radio]:checked + label {
  background: #FEC906;
  color: #fff;
}

/* --------------
  Product page
------------------*/
.product-section {
  padding-top: 70px;
  padding-bottom: 65px;
}
.product-section .add-to-wishlist-btn {
  border: 1px solid #393733;
  transition: all ease 0.3s;
}
.product-section .add-to-wishlist-btn.liked {
  background: #eca1a1;
  color: #fff;
  border-color: #eca1a1;
}
.product-section .add-to-wishlist-btn:hover {
  background: #eca1a1;
  color: #fff;
  border-color: #eca1a1;
  transition: all ease 0.3s;
}

.back-link {
  padding-bottom: 50px;
}

.back-link a {
  font-size: 12px;
  color: #414141;
}

.product-pic-zoom {
  margin-bottom: 35px;
}

.product-thumbs .pt {
  width: 116px;
  height: 116px;
  float: right;
  margin-left: 31px;
  margin-bottom: 15px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.product-thumbs .pt:last-child {
  margin-right: 0;
}

.product-thumbs .pt.active:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px solid #FEC906;
  z-index: 1;
}

.product-details .p-title {
  font-size: 18px;
  font-weight: 700;
  color: #414141;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.product-details .p-old-price {
  font-size: 16px;
  color: #c54343;
  text-decoration: line-through;
}

.product-details .p-discount-price {
  font-size: 24px;
  color: green;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-details .p-price {
  font-size: 24px;
  color: #414141;
  font-weight: 700;
  margin-bottom: 20px;
}

.product-details .p-stock {
  font-size: 12px;
  color: #000;
  font-weight: 700;
  color: #414141;
  margin-bottom: 10px;
}

.product-details .p-stock span {
  color: #FEC906;
}

.product-details .p-rating {
  margin-bottom: 15px;
}

.product-details .p-rating i {
  color: #FEC906;
}

.product-details .p-rating i.fa-fade {
  color: #e6e6e6;
}

.product-details .p-review {
  margin-bottom: 30px;
}

.product-details .p-review a {
  color: #414141;
  font-size: 14px;
  margin-right: 12px;
  margin-left: 12px;
}

.product-details .p-review a:first-child {
  margin-left: 0;
}

.product-details .fw-size-choose {
  border-bottom: none;
  margin-bottom: 30px;
  padding-bottom: 0;
}

.product-details .fw-size-choose p {
  float: left;
  margin-right: 38px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141;
  padding-top: 10px;
  margin-bottom: 0;
}

.product-details .fw-size-choose label {
  width: 33px;
  height: 33px;
  font-size: 12px;
  border: 2px solid #414141;
}

.product-details .fw-size-choose input[type=radio]:checked + label {
  border: 2px solid #FEC906;
}

.product-details .fw-size-choose .disable label {
  border: 2px solid #e1e1e1;
  color: #cacaca;
}

.product-details .social-sharing {
  padding-bottom: 30px;
}

.product-details .social-sharing a {
  color: #d7d7d7;
  margin-right: 23px;
  font-size: 14px;
}

.product-details .social-sharing a:hover {
  color: #414141;
}

.quantity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.quantity p {
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #414141;
  padding-top: 10px;
  margin-bottom: 0;
}

.quantity .pro-qty {
  width: 94px;
  height: 36px;
  border: 1px solid #ddd;
  padding: 0 15px;
  border-radius: 40px;
  float: left;
}

.quantity .pro-qty .qtybtn {
  width: 15px;
  display: block;
  float: left;
  line-height: 36px;
  cursor: pointer;
  text-align: center;
  font-size: 18px;
  color: #404040;
}

.quantity .pro-qty input {
  width: 28px;
  float: left;
  border: none;
  height: 36px;
  line-height: 40px;
  padding: 0;
  font-size: 14px;
  text-align: center;
  background-color: transparent;
}

.related-product-section {
  padding-bottom: 70px;
}

.related-product-section .section-title h2 {
  font-size: 24px;
  margin-bottom: 60px;
}

/* ----------------
  Cart page
---------------------*/
.scrollbar {
  margin: 80px auto 0;
  width: 100%;
  height: 7px;
  line-height: 0;
  background: #ececec;
  overflow: hidden;
}

.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #fff;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
  background: #b09d81;
  border-radius: 30px;
}

.cart-table {
  padding: 40px 34px 0;
  background: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
}

.cart-table h3 {
  font-weight: 700;
  margin-bottom: 37px;
}

.cart-table table {
  width: 100%;
  min-width: 442px;
  margin-bottom: 17px;
}

.cart-table table tr th {
  font-size: 12px;
  font-weight: 400;
  color: #414141;
  padding-bottom: 25px;
}

.cart-table td {
  margin-bottom: 30px;
  text-align: center;
}

.cart-table .update-cart-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 0;
  margin-bottom: 0;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.cart-table .update-cart-column a {
  flex: 3;
}
.cart-table .update-cart-column input {
  flex: 1;
  border: none;
  border-radius: 50px;
  padding: 5px;
  width: auto;
  max-width: 80px;
  margin-right: 20px;
  text-align: center;
}
.cart-table .update-cart-column input::-webkit-outer-spin-button,
.cart-table .update-cart-column input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-table .update-cart-column input[type=number] {
  -moz-appearance: textfield;
}

.cart-table .quantity .pro-qty {
  width: 80px;
  background: #fff;
  border-color: #fff;
}

.cart-table .quantity .pro-qty .qtybtn {
  width: 10px;
}

.cart-table .size-col h4 {
  padding-right: 70px;
}

.cart-table .total-cost {
  background: #FEC906;
  margin: 0 -34px;
  text-align: right;
  padding: 20px 45px;
}

.cart-table .total-cost h6 {
  line-height: 1;
  font-size: 18px;
  font-weight: 700;
  color: #393733;
}

.card-right .site-btn {
  margin-bottom: 14px;
  width: 100%;
  min-height: 50px;
}

.promo-code-form {
  position: relative;
  margin-bottom: 14px;
}

.promo-code-form input {
  width: 100%;
  height: 58px;
  border: 2px solid #f0f0f0;
  padding-right: 24px;
  padding-left: 100px;
  font-size: 16px;
  border-radius: 80px;
}

.promo-code-form button {
  position: absolute;
  left: 24px;
  top: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #FEC906;
  cursor: pointer;
}

/* ----------------
  Checkout Page
---------------------*/
.checkout-form .cf-title {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 1;
  border-radius: 4px;
  background: #3b3b3b;
  padding: 21px 29px 20px;
  margin-bottom: 20px;
}

.checkout-form p {
  font-size: 16px;
  color: #414141;
}

.checkout-form h4 {
  font-size: 18px;
  color: #414141;
}

.checkout-form textarea {
  width: 100%;
  border: none;
  padding: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  font-size: 14px;
}

.checkout-form input[type=text] {
  width: 100%;
  height: 44px;
  border: none;
  padding: 0 18px;
  background: #f0f0f0;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: 14px;
}

.checkout-form .address-inputs {
  margin-bottom: 54px;
}

.address-rb {
  text-align: right;
  margin-bottom: 30px;
}

.address-rb .cfr-item {
  display: inline-block;
}

.cf-radio-btns .cfr-item {
  margin-bottom: 15px;
}

.cf-radio-btns label {
  display: block;
  font-size: 16px;
  color: #414141;
  margin-bottom: 0;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}

.cf-radio-btns label:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 4px;
  top: 8px;
  background: #414141;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s;
}

.cf-radio-btns label:before {
  position: absolute;
  content: "";
  width: 13px;
  height: 13px;
  left: 0;
  top: 4px;
  border: 2px solid #e1e1e1;
  border-radius: 40px;
}

.cf-radio-btns input[type=radio] {
  visibility: hidden;
  position: absolute;
}

.cf-radio-btns input[type=radio]:checked + label:after {
  opacity: 1;
}

.shipping-btns {
  margin-bottom: 50px;
}

.shipping-btns .cf-radio-btns label {
  font-size: 18px;
  font-weight: 600;
  padding-left: 37px;
}

.payment-list {
  list-style: none;
  margin-bottom: 40px;
}
.payment-list li {
  font-size: 16px;
  font-weight: 600;
  color: #414141;
  margin-bottom: 20px;
}
.payment-list li label i {
  width: 25px;
  text-align: center;
}

.submit-order-btn {
  width: 100%;
  min-height: 58px;
}

.checkout-cart {
  background: #f0f0f0;
  padding: 20px 24px 30px;
  border-radius: 4px;
}

.checkout-cart h3 {
  margin-bottom: 30px;
}
.checkout-cart ul {
  list-style-type: none;
}
.checkout-cart ul li {
  margin-bottom: 15px;
}
.checkout-cart ul li:last-child {
  margin-bottom: 0;
}

/* ----------------
  Contact Page
---------------------*/
.contact-section {
  padding-top: 80px;
  padding-bottom: 0;
  position: relative;
}

.contact-info h3 {
  margin-bottom: 50px;
}

.contact-social {
  display: -ms-flex;
  display: flex;
  margin-bottom: 35px;
  padding-top: 20px;
}

.contact-social a {
  display: -ms-inline-flex;
  display: inline-flex;
  width: 32px;
  height: 32px;
  background: #f0f0f0;
  color: #414141;
  font-size: 14px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  transition: all 0.4s;
}

.contact-social a:hover {
  color: #fff;
  background: #FEC906;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 44px;
  border: none;
  padding: 0 18px;
  background: #f0f0f0;
  border-radius: 40px;
  margin-bottom: 17px;
  font-size: 14px;
}

.contact-form textarea {
  padding-top: 16px;
  border-radius: 18px;
  height: 175px;
  margin-bottom: 32px;
}

.map {
  position: absolute;
  width: calc(50% - 15px);
  height: 100%;
  right: 0;
  top: 0;
  background: #ddd;
}

.map iframe {
  width: 100%;
  height: 100%;
}

/* ----------------
  Responsive
---------------------*/
@media (min-width: 1200px) {
  .container {
    max-width: 1175px;
  }
}
@media (max-width: 1350px) {
  .product-slider .owl-nav {
    position: relative;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 20px;
  }

  .product-slider .owl-nav button.owl-prev,
.product-slider .owl-nav button.owl-next {
    float: none;
    left: 0;
    right: 0;
    margin: 0 10px;
  }
}
/* Medium screen : 992px. */
.hero-slider {
  direction: ltr;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-slider .slider-nav-warp {
    max-width: 930px;
  }

  .footer-widget ul {
    margin-right: 5px;
  }

  .social-links a {
    margin-right: 20px;
  }
}
/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .site-logo {
    margin-bottom: 5px;
    height: 50px;
  }

  .header-search-form {
    margin-bottom: 5px;
  }

  .user-panel {
    text-align: center;
  }

  .main-menu {
    text-align: center;
  }

  .sub-menu {
    text-align: left;
  }

  .main-menu li a {
    margin-right: 30px;
  }

  .hero-slider .slider-nav-warp {
    max-width: 690px;
  }

  .hero-slider .hs-item .offer-card {
    top: 20px;
  }

  .feature h2 {
    font-size: 18px;
  }

  .product-filter-menu {
    text-align: center;
  }

  .product-filter-menu li {
    margin: 0 5px 10px;
  }

  .social-links {
    text-align: center;
  }

  .social-links a {
    margin-right: 20px;
  }

  .social-links a span {
    display: none;
  }

  .cart-table,
.checkout-cart,
.product-thumbs {
    margin-bottom: 50px;
  }

  .map {
    position: relative;
    width: 100%;
    background: #ddd;
    height: 400px;
    margin-top: 70px;
  }
}
/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
  .site-logo {
    margin-bottom: 10px;
  }
  .site-logo img {
    height: 50px;
    width: auto;
  }

  .header-search-form {
    display: none;
  }

  .user-panel {
    text-align: center;
  }

  .main-menu {
    display: none;
  }

  .slicknav_btn {
    background-color: #565656;
  }

  .slicknav_menu {
    background: #393733;
    display: block;
  }

  .slicknav_menu .new {
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: #FEC906;
    line-height: 1;
    text-transform: uppercase;
    padding: 5px 9px 1px;
    border-radius: 15px;
    width: 42px;
    margin-left: 5px;
  }

  .hero-slider .slider-nav-warp {
    max-width: 510px;
  }

  .hero-slider .hs-item h2 {
    font-size: 50px;
  }

  .hero-slider .hs-item .offer-card {
    display: none;
  }

  .product-filter-menu {
    text-align: center;
  }

  .product-filter-menu li {
    margin: 0 2px 10px;
  }

  .footer-widget ul {
    margin-right: 25px;
  }

  .social-links {
    text-align: center;
  }

  .social-links a i {
    margin-right: 25px;
  }

  .social-links a span {
    display: none;
  }

  .cart-table,
.checkout-cart,
.product-thumbs {
    margin-bottom: 50px;
  }

  .cart-table .size-col h4,
.cart-table table tr th.size-th,
.cart-table table tr th.quy-th,
.cart-table .quy-col {
    padding-right: 0;
    width: 70px;
  }

  .cart-table .quy-col {
    width: 80px;
  }

  .address-rb {
    text-align: left;
  }

  .map {
    position: relative;
    width: 100%;
    background: #ddd;
    height: 400px;
    margin-top: 70px;
  }
}
/* Medium Mobile :480px. */
@media only screen and (min-width: 576px) and (max-width: 766px) {
  .hero-slider .slider-nav-warp {
    padding: 0 15px;
  }

  .banner .tag-new {
    position: relative;
    display: inline-block;
    margin-bottom: 18px;
    right: 0;
    top: 0;
  }
}
/* Small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .hero-slider .slider-nav-warp {
    max-width: 510px;
    padding: 0 15px;
  }

  .hero-slider .hs-item h2 {
    font-size: 35px;
  }

  .hero-slider .hs-item .sb-line {
    margin-bottom: 15px;
  }

  .section-title h2 {
    font-size: 28px;
  }

  .feature h2 {
    font-size: 18px;
  }

  .banner .tag-new {
    position: relative;
    display: inline-block;
    margin-bottom: 18px;
    right: 0;
    top: 0;
  }

  .social-links {
    text-align: center;
  }

  .social-links a i {
    font-size: 20px;
  }

  .social-links a span {
    display: none;
  }
}
/*========== Pages CSS ==========*/
.auth-hero {
  height: 50vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
.auth-hero .dark-overlap {
  height: 50vh;
  width: 100%;
  padding: 10%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}
.auth-hero .dark-overlap h1, .auth-hero .dark-overlap p {
  color: #fff;
}
.auth-hero .dark-overlap h1 {
  margin-bottom: 40px;
}

.auth-form form h4 {
  text-align: right;
  margin-bottom: 20px;
}
.auth-form form .form-input-container {
  position: relative;
}
.auth-form form .form-input-container i {
  position: absolute;
  bottom: 45px;
  right: 15px;
  z-index: 5;
  color: #393733;
}
.auth-form form .form-input-container input {
  z-index: 4;
  position: relative;
  width: 100%;
  padding: 10px 45px 10px 10px;
  border: none;
  border-bottom: 2px solid #f1f1f1;
  font-size: 0.9em;
  margin-bottom: 30px;
}
.auth-form form button {
  display: block;
  width: 100%;
}
.auth-form form .social-auth {
  list-style-type: none;
  display: flex;
}
.auth-form form .social-auth li {
  flex: 1;
  margin: 0px 10px;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}
.auth-form form .social-auth li a {
  font-size: 0.9em;
}
.auth-form form .social-auth li a i {
  margin-left: 15px;
}
.auth-form form .social-auth li.auth-with-google {
  background-color: #DB4437;
}
.auth-form form .social-auth li.auth-with-google a {
  color: #fff;
}
.auth-form form .social-auth li.auth-with-facebook {
  background-color: #4267B2;
}
.auth-form form .social-auth li.auth-with-facebook a {
  color: #fff;
}
.auth-form form .social-auth li.auth-with-twitter {
  background-color: #1DA1F2;
}
.auth-form form .social-auth li.auth-with-twitter a {
  color: #fff;
}
.auth-form .no-account-box {
  text-align: right;
}
.auth-form .no-account-box h4 {
  margin-bottom: 20px;
}

.static-content-section {
  direction: rtl;
  text-align: right;
  padding: 50px;
}
.static-content-section h1 {
  color: #FEC906;
  font-size: 2.5em;
  margin-bottom: 25px;
}
.static-content-section h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}
.static-content-section h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}
.static-content-section p {
  line-height: 2;
  color: #707070;
}

.our-brands-section {
  padding-bottom: 60px;
}
.our-brands-section h2 {
  padding-bottom: 60px;
}
.our-brands-section h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

#about-us-hero {
  height: 50vh;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
#about-us-hero .dark-overlap {
  height: 50vh;
  width: 100%;
  padding: 10%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}
#about-us-hero .dark-overlap h1, #about-us-hero .dark-overlap p {
  color: #fff;
}
#about-us-hero .dark-overlap h1 {
  margin-bottom: 40px;
}

.about-us-content .branch-info-list {
  list-style-type: none;
}
.about-us-content .branch-info-list li {
  margin-bottom: 10px;
  color: #707070;
}
.about-us-content .branch-info-list li i {
  color: #FEC906;
}

@media screen and (max-width: 768px) {
  .auth-hero .dark-overlap h1 {
    font-size: 2.5em;
  }

  .auth-form form .social-auth li {
    padding: 4px;
  }
  .auth-form form .social-auth li a i {
    margin-left: 10px;
  }
  .auth-form .no-account-box {
    text-align: right;
  }
  .auth-form .no-account-box h4 {
    margin-bottom: 20px;
  }

  .static-content-section {
    padding: 20px;
  }
  .static-content-section h2 {
    margin-bottom: 10px;
  }

  .our-brands-section {
    padding-bottom: 60px;
  }
  .our-brands-section h2 {
    padding-bottom: 60px;
  }
  .our-brands-section h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  #about-us-hero .dark-overlap h1 {
    font-size: 2em;
    margin-bottom: 40px;
  }

  .about-company-section {
    flex-direction: column-reverse;
  }
}
/*========== Errors CSS ==========*/
.error-page-section {
  padding: 3em 0;
}
.error-page-section h1 {
  color: #FEC906;
  font-size: 2.5em;
  margin-bottom: 25px;
}
.error-page-section form label {
  display: block;
  width: 100%;
  font-weight: bold;
}
.error-page-section form input {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  background: #f1f1f1;
  border: none;
}
.error-page-section form button {
  background-color: #FEC906;
  padding: 5px 10px;
  color: #393733;
  border: none;
  border-radius: 4px;
  width: 10%;
}
.error-page-section .page-sub-heading {
  font-size: 1.1em;
  font-weight: bold;
  color: #393733;
  margin-bottom: 15px;
}
.error-page-section ul.quick-links-list {
  list-style-type: none;
}
.error-page-section ul.quick-links-list li {
  display: inline-block;
}
.error-page-section ul.quick-links-list li a {
  background-color: #f1f1f1;
  padding: 5px 15px;
  border-radius: 4px;
  transition: all ease 0.3s;
  color: #393733;
  display: block;
}
.error-page-section ul.quick-links-list li:hover a {
  transition: all ease 0.3s;
  background: #FEC906;
}
.error-page-section img.error-image {
  width: auto;
  margin: auto;
  display: block;
}

@media screen and (max-width: 768px) {
  .error-page-section form input {
    width: 80%;
  }
  .error-page-section form button {
    width: 20%;
  }
  .error-page-section img.error-image {
    width: 50%;
    margin: auto auto 50px auto;
  }
}
.pwa-add-to-home {
  position: fixed;
  bottom: 50px;
  width: 25%;
  right: 5%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
  padding: 10px;
  border-radius: 10px;
  text-align: right;
}
.pwa-add-to-home .font-weight-bold {
  font-size: 1.5em;
  color: #393733;
  margin-bottom: 0;
}
.pwa-add-to-home img {
  border-radius: 10px;
}
.pwa-add-to-home .site-btn {
  display: inline-block;
  padding: 10px 20px;
  min-width: 80px;
}
.pwa-add-to-home .site-btn.btn-danger {
  background: red;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .pwa-add-to-home {
    display: none;
    position: fixed;
    bottom: 50px;
    width: 90%;
    right: 5%;
    left: 5%;
    padding: 10px;
    border-radius: 5px;
  }
  .pwa-add-to-home .font-weight-bold {
    font-size: 1em;
  }
  .pwa-add-to-home img {
    border-radius: 5px;
  }
  .pwa-add-to-home .site-btn {
    display: inline-block;
    padding: 10px 20px;
    min-width: 80px;
  }
  .pwa-add-to-home .site-btn.btn-danger {
    background: red;
    color: #fff;
  }
}